<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="new_book.css">  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  

</head>
<body class="full-page">

    <section id="main">
        <h2>本情報追加</h2>
        <h3>本情報</h3>
        <form>
              <div class="msr_btn13">
                <label for="file_photo">本の画像</label>
                <input type="file" id="file_photo">
              </div>

            <div class="msr_text_03">
              <label>本のタイトル</label>
              <input type="text" />
              <label>本の著者</label>
              <input type="text" />
            </div>

            <p class="msr_btn13">
              <a href="../users/add_checklist.html">本情報追加</a>
            </p>
        </form>            
    </section>
</body>
</html>