<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="new_book.css">  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  

</head>
<body class="full-page">
    <header>
        <div id="header">
            <h1>自分を変える、読書。</h1>
                <ul>
                <li>あなた専用のページ</li>
                <li><a href="../users/details.html">トップページへ</a>｜<a href="/index.html">ログアウト</a></li>
                </ul>
        </div>    
    </header>
    <section id="main">
        <h2>リスト選択画面</h2>
        <h3>本情報＋自分の変えたい行動リスト</h3>
        <div class="content-1">
            <div class="card" style="width: 18rem;" >
                <img src="../bookimg/本.jpeg" class="card-img-top" alt="..." width="200px">
                <div class="card-body">
                    <h5 class="card-title">本のタイトル</h5>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">本の著者</li>
                </ul>
        </div>
        <form>
            <p class="msr_btn14" style="width: 18rem;">
              <a href="../users/add_readingimfo.html">〇〇を変えたい！！</a>
              <a href="../users/add_readingimfo.html">△△を変えたい！！</a>
            </p>
        </form>            
    </section>

</body>
</html>